*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: #3fbfb1;
    color: #fff;
}

:focus {
    outline-color: #eeb523;
}

.page {
  margin: 0;
  padding: 0;
  font: 1rem/1.5 'Varela Round', sans-serif;
  color: #222;
}

/**
 * Grid
 */

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
}

.grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col,
.col-3 {
  padding: 0 1rem;
}




/**
 * Logo
 */

.logo {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  color: #3f8abf;
  text-decoration: none;
  white-space: nowrap;
  transition: color 230ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.logo:hover {
  color: #2c6085;
}



/**
 * List
 */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}




/**
 * Header Section
 */

.header {
  padding: .75rem 0;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  text-align: center;
}

.header__logo {
  padding: .625rem 1rem;
}

.header__nav {
    overflow-x: auto;
}

.header-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.header-list__link {
  display: inline-block;
  padding: .625rem 1rem;
  color: #3fbfb1;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transition: color 230ms ease;
}

.header-list__link:hover {
  color: #2c857c;
}




/**
 * Hero Section
 */

.hero {
  position: relative;
}

.hero_theme_leafy {
  background-color: #3fbfb1;
  color: #fff;
}

.hero__wrapper {
  padding: 0 1rem;
}

.hero__message {
  padding: 4rem 0;
  text-align: center;
}

.hero__message-logo {
  width: 160px;
  height: 160px;
  max-width: 100%;
  border: 0;
}

.hero__message-heading {
  font-size: 2rem;
  margin: .5em 0 .875rem;
}

.hero__message-description {
  font-size: 1.25rem;
  margin: 0;
}

.hero__title {
  margin: 1.5em 1rem 0;
  font-size: 2rem;
  text-align: center;
}



/**
 * Features Section
 */

.features {
  padding: 4rem 0;
}

.features-media {
  position: relative;
  margin: 0 0 1.6875rem;
  line-height: 0;
}

.features-media__message {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: .8em;
  font-size: .9375rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(41, 68, 124, .88);
}

.features-media__img {
  max-width: 100%;
  border: 0
}

.features-media__message-heading {
  margin: 0 0 .5rem;
}

.features-media__message-description {
  margin: 0;
}

.features-media_icon_location::before {
  content: '';
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/location.svg);
}

.features__heading {
  margin: 0 0 1.25rem;
  color: #2c6085;
}

.features__description {
  margin: 0 0 1.8em;
  font-size: .95em;
}




/**
 * Footer Section
 */

.footer {
  background-color: #f9faff;
}

.footer-message {
  padding: 2rem 0;
  text-align: center;
}

.footer-message__title {
  font-size: 80%;
  color: #696969;
  
}




/**
 * Product Section
 */

.product {
  display: block;
  padding: 2rem;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
}

.product:hover {
  border-color: #e6e9eb
}

.product:hover .product__img {
  -webkit-filter: drop-shadow( 0 5px 10px rgba(11,27,38, 0.2));
    filter: drop-shadow( 0 px 10px rgba(11,27,38, 0.2));
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

.product__img,
.order__img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  border: 0;
  transition: transform .2s linear
}

.product-body__title,
.order-body__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #222;
}

.product-body__description,
.order-body__description {
  color: #ababab;
}

.product-body__price {
  font-weight: 600;
  color: #3f8abf;
}

/**
 * Order Section
 */

.order {
  display: block;
  max-width: 420px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.order-body {
  text-align: left;
}

.order-body__attention {
  color: #60b884;
}

.form-line {
  margin-bottom: 24px;
}

.form__select,
.form__input {
  display: block;
  padding: 0 10px;
  font-size: 1rem;
  line-height: 52px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6e9eb;
  -webkit-appearance: none;
}

.form__input {
  width: 100%;
}

.form-line__order {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
}

.form-line__order .form__select-main {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.form-line__order .form__select-count {
  min-width: 80px;
  margin-left: 10px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 0; /* 1 */
  text-align: center;
  text-decoration: none;
  border: 0; /* 1 */
  outline: none; /* 2 */
  white-space: nowrap;
  cursor: pointer; 
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* 3 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none; /* 4 */
}

.btn__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.btn_theme_leafy {
  font-family: sans-serif;
  color: #fff;
  background-color: #60b884;
  border-radius: .3125rem;
}

.btn_theme_leafy:hover {
  background-color: #4faa71;
}

.btn_theme_leafy:focus {
  box-shadow: 0 0 0 1px #4faa71;
}

.btn_theme_leafy.btn_size_l .btn__text {
    margin: 0 2.5rem;
}

.btn_theme_leafy.btn_size_l {
  font-size: 1rem;
  font-weight: 500;
  line-height: 3.12;
}


/**
 * ===
 * ==
 * =
 * Media query
 * =
 * ==
 * ===
 */

@media all and (min-width: 480px) {
  
  .header-list {
    justify-content: center
  }
  
}

@media (min-width: 680px) {
  
  .page {
    padding-top: 4.25rem;
  }
  
  .col {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
  }
  
  .col-3 {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%
  }
  
  .header {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
  }
  
  .header__wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  
}

  
  .features-secondary {
    flex: auto;
  }
  

@media (min-width: 980px) {
  
    .features-main {
      flex: 1.5
    }

    .features-secondary {
      flex: 1;
    }
  
}